@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  align-items: center;
  transform: translateY(-40px);
}

h1 {
  font-size: 2.8rem;
}

p {
  margin: 25px 0 0 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5vh;
}

a {
  color: #000000;
}

button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 57px 11px 56px;
  letter-spacing: 2px;
  margin-top: 25px;
  border: none;
}

.mainDiv {
  min-height: 100vh;
}

.top_section {
  height: 20vh;
  background-color: #ffffff;
}

.bottom_section {
  min-height: 80vh;
  background-color: #f0c50a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 300px;
}

.bottom_section div {
  min-width: 200px;
  width: 400px;
}

.info {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .mainDiv {
    flex-direction: column;
    align-items: center;
  }

  .bottom_section {
    gap: 50px;
    padding: 20px;
  }

  .info {
    margin-top: 0;
  }
}